nav {
    display: flex;
    justify-content: center;
}

nav a {
    margin: 20px;
}

#herobanner {
    background-color: crimson;
    padding: 50px;
}

#main {
    background-color: bisque;
    padding: 50px;
}